@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,400italic,600,600italic,700");
* {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
	margin:0;
	padding:0;
}

body, textarea {
    /*padding:20px 15%;*/
    font-family:'Open Sans';
}

a {
	text-decoration:none;
}

.logo {
		font-size:1.6em;
		float:left;
		margin-top:7px;
		margin-left:15px;
		color:#ffffff;
}

.logout {
	float:right;
	color:#ffffff;
	margin-top:7px;
	margin-right:15px;
}

.logout a, .logout a:visited {color:#ffffff;}
.logout a:hover {text-decoration:underline;}

header{
	width:100%;
	height:50px;
	background-color:#171717;
	margin:0 auto;
}

div#container{
	width:100%;
	margin:0 auto;
}

.sidebar{
	width:250px;
	background-color:#171717;
	float:left;
}

.content{
	width:auto;
	margin-left:250px;
	height:100%;
	background-color:#ecf0f1;
	padding:15px;
	overflow:auto;
}

.content p{
	color:#424242;
	font-size:0.8em;
}


div#box{
	margin-top:15px;
}

div#box .box-top {
	color:#ffffff;
	background-color:#3498db;
	padding:5px;
	padding-left:15px;
	font-weight:300;
}

div#box .box-panel{
	padding:15px;
	background-color:#ffffff;
	color:#333;
}

ul#nav{}
ul#nav li {
	list-style:none;
}

ul#nav li a{
	color:#ffffff;
	display:block;
	padding:10px;
	font-size:1em;
	border-bottom:1px solid #0a0a0a;
	-webkit-transition:0.2s;
	-moz-transition:0.2s;
	-o-transition:0.2s;
	transition:0.2s;
}

ul#nav li a:hover{
	background-color:#030303;
	color:#ffffff;
}

ul#nav li a.selected{
	background-color:#030303;
	color:#ffffff;
}

h1.testHeader{
    font-size:72px;
    text-align:center;
}

div#wrapper {
	padding:20px 15%;
    
}

/* DASHBOARD LOGIN FORM */

#loginWrapper {
	background:#f1f1f1;
	width:100%;
	height:100%;
	margin:0;
	padding: 72px 0px 0px 0px;
	text-align:center;
}

#loginWrapper h2 {
	margin-bottom: 30px;
    font-weight: normal;
    font-size: 40px;
}

#loginWrapper a {
	text-decoration:underline;
}

#loginWrapper a, #loginWrapper p  {
	color:#4a4a4a;
	font-size:12px;
	font-weight:normal;
	box-sizing:border-box;
	padding:20px 0px 0px 0px;
	font-style:italic;
}


#loginFormWrapper {
	box-sizing: border-box;
	width:350px;;
	margin: 0 auto;
	padding: 1%;
    border-top: 10px solid #3498db;
    background-color: #ffffff;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 2px rgba(0, 0, 0, 0.1) inset;
	text-align:center;
}

#loginForm {
	box-sizing: border-box;
    width: 100%;
    margin: 0 auto;  
}

#loginFormWrapper p {
	color:#3498db;
	font-size:18px;
	box-sizing:border-box;
	padding:20px;
	font-style:normal;
}

#loginForm input[type=text], #loginForm input[type=password] {
	width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 0px;
    box-sizing: border-box;
	font-size:18px;
	background-color: #fbfbfb;
}

#loginForm input[type=submit] {
	width:100%;
	background-color:#4CAF50;
	padding:10px;
	margin-top:20px;
	box-sizing:border-box;
	color:#ffffff;
	font-size:16px;
	text-transform:uppercase;
	border:0px;
	cursor:pointer;
}

#interviewForm{
	border-radius: 5px;
    background-color: #f2f2f2;
    padding: 40px;
}

input[type=text], input[type=password], input[type=email], textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
	font-size:30px;
}


.buttonContainer{
	text-align:center;
}

button {
    border-radius:100%;
    width:200px;
    height:200px;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
	font-size:30px;
}

button.normal, button.normal-newQuestionButton, button.cancelEditQuestion, button.saveEditQuestion {
	border-radius:0;
    width:100px;
    height:50px;
    background-color: #4CAF50;
    color: white;
    padding:5px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
	font-size:17px;
}

button.normal-newQuestionButton {
	width:150px;
}

#saveEditQuestion {
	margin-right:5px;
}

button:hover {
    background-color: #45a049;
}


a.mobile{
	display:block;
	color:#fff;
	background-color:#000;
	text-align:center;
	padding:7px;
}

a.mobile:active{
	background-color:#4a4a4a;
}

/********Questions Page*******/

#newQuestionBox, #newQuestionBoxPanel, #newQuestionForm {
	display:none;
}

table {
	border-collapse:collapse;
	border:1px solid #eee;
	border-bottom:2px solid #3498db;
	width:100%;
}

th{
	background-color:#3498db;
	color:#ffffff;
	font-size:14px;
}

th, td {
	padding:12px 20px;
	border:1px solid #eee;
	border-collapse:collapse;
}

td.iconHolder, td.centerCell{
	text-align:center;
}

td.iconHolder a:hover {
	cursor:pointer;
}


#newQuestionForm input[type=text], #newQuestionForm textarea{
		font-size:20px;
}

.editContainerDisplay {
	display:none;
}

@media only screen and (max-width:480px) {
	
	.sidebar {
		width:100%;
		display:none;
	}
	
	.content{
		margin-left:0px;
	}
#loginWrapper h2 {
	font-size: 24px;
}

#loginFormWrapper p {
	    font-size: 16px;
	}

#loginFormWrapper {
	width: 280px;
	padding: 4%
}	
	
}

@media only screen and (min-width:480px) {
	
a.mobile{
	display:none;
}
.sidebar {
		height:100%;
		display:block;
	}
}



